@charset "UTF-8";

body {
    background-color: #fffffc;
    background-image: linear-gradient(315deg, #fffffc 0%, #beb7a4 74%);
    opacity: 1;
    transition: 0.7s opacity;
    min-height: 100vh;
}

body.fade {
    opacity: 0;
    transition: none;
}

.goldbutton{
     background: rgb(223, 117, 20) !important;
}

.ocb-width {
    width: 42vw;
}

#oscar{
    padding: 0em;
    max-height: 25%;
    max-width: 25%;
}

#clap{
    padding: 0em;
    max-height: 50%;
    max-width: 50%;
}

.edit-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.edit-profile {
    display: flex;
    width: 50%;
}

* {box-sizing: border-box;}

.chat-center-area {
    height: 350px;
    border: 3px solid #f1f1f1;
    margin-bottom: 5px;
    overflow-y: auto;
}

.contact {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    height: 60px;
    border-color: lightGrey;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.message-from-other {
    background-color: blue;
    color: white;
    margin-bottom: 8px;
    border-radius: 6px;
    margin-left: 4px;
    margin-right: 20px;
}

.message-from-me {
    background-color: grey;
    color: white;
    margin-bottom: 5px;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 4px;
}

.input-area {
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.close-button {
    font-size: 1.5rem;
    cursor: pointer; 
    color: black;
    font-weight: 300;
    font-family: Arial, sans-serif;
}

.back-button {
    cursor: pointer; 
    color: black;
}

.chat-title {
    flex-basis: 90%;
    font-size: 1.5rem; 
    text-align: center;
}

.top-chat-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    height: 35px;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    position: fixed;
    bottom: 0px;
    right: 28px;
    width: 280px;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    z-index: 2;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: block;
    position: fixed;
    bottom: 0px;
    right: 28px;
    width: 380px;
    border-radius: 6px 6px 0 0;
    border: 1px solid #bcb8ad;
    z-index: 2;
}

/* Add styles to the chat container */
.chat-container {
    max-width: 380px;
    padding: 10px;
    background-color: white;
    border-radius: 6px 6px 0 0;
}

/* Full-width textarea */
.chat-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.chat-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.chat-container .send-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    background-color: blue;
    opacity: 0.8;
    cursor: pointer;
    border-color: lightGrey !important;
    border-radius: 0px 4px 4px 0px !important;
    border-style: solid !important;
    border-top-width: 2px !important;
    border-bottom-width: 2px !important;
    border-left-width: 0px !important;
    border-right-width: 2px !important;
}

/* Set style for the chat input bar */
.chat-input {
    width: 80% !important;
    background-color: white !important;
    height: 40px !important;
    border-color: lightGrey !important;
    border-radius: 4px 0 0 4px !important;
    border-style: solid !important;
    border-top-width: 2px !important;
    border-bottom-width: 2px !important;
    border-left-width: 2px !important;
    border-right-width: 0px !important;
}

/* Add some hover effects to buttons */
.chat-container .send-button:hover, .open-button:hover {
    opacity: 1;
}

.my-column-container {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.my-left-column {
    padding: 10px 10px 10px 10px;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.my-center-column {
    padding: 10px 10px 10px 10px;
    background-color: palegreen;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.my-right-column {
    padding: 10px 10px 10px 10px;
    background-color: thistle;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.my-column-box {
    display: flex;
    flex-direction: column;
}

.my-outermost-container {
    width: 96vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.my-inner-draggable-3 {
    /*background-color: salmon;*/
    /*min-height: 180px;*/
    width: 21vw;
}

.my-placeholder-for-dragging-3 {
    /*background-color: lightblue;*/
    /*min-height: 180px;*/
    width: 21vw;
    margin-bottom: 25px;
}

.div-socket-2 {
    order: 2;
    /*background-color: lightblue;*/
    /*min-height: 180px;*/
    width: 200px;
}

.grip-handle {
    cursor: grab;
}

.outer-socket {
    /*min-height: 600px;*/
    width: 250px;
}

.my-outer-draggable-4 {
    /*background-color: lightyellow;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*min-height: 500px;*/
    width: 21vw;
}

.my-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*min-height: 200px;*/
    width: 42vw;
}

.my-container {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*min-height: 600px;*/
    width: 250px;
}

.outer-placeholder-for-dragging-4 {
    /*min-height: 600px;*/
    width: 21vw;
    margin-bottom: 120px;
}

.half-outer-socket {
    /*min-height: 200px;*/
    width: 42vw;
}

.my-half-container {
    /*background-color: lightgreen;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*min-height: 200px;*/
    width: 100%;
}

.my-test {
    min-height: 100px;
    width: 100px;
    background: red;
    border-radius: 50%;
}

#oca {
}

#ocb {
}

#occ {
}

.animated-clapper {
    height: 2rem;
    width: auto;
}

.my-quarter-box {
    padding: 20px;
    border-radius: 6px;
    background-color: white;
    width: 21vw;
}

.my-half-box {
    padding: 20px;
    border-radius: 6px;
    background-color: white;
    width: 42vw;
}
