body {
  background-image: url("../filmstrip.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.animated-clipboard {
    height: 1.5rem;
    width: auto;
}
