[[extend 'layout.html']]

<section id="vue-target"
         class="my-outermost-container">
    <!-- Quarter column horizontal-->
    <div id="oca"
         class="outer-placeholder-for-dragging-4">
        <div class="my-outer-draggable-4">
            <div @mousedown="clickHandler($event, 'oca', false)">
                <i class="fas fa-grip-horizontal grip-handle"></i>
            </div>
            <!-- thirds row vertical -->
            <div id="ca" style="background:salmon;" 
                 class="my-placeholder-for-dragging-3">
                <div class="my-inner-draggable-3">
                    <div class="my-quarter-box">
                        [[if len(info) == 0:]]
                            <a href="[[=URL('create_profile')]]">
                                <img src="[[=URL('static', 'images/defprofilepic.jpg')]]" />
                            </a>
                            <h1 class="title">[[=name]]</h1>
                            <a class="button is-primary goldbutton" 
                               href="[[= URL('create_profile')]]">
                                <i class="fas fa-cog"></i>&nbsp; Edit Profile
                            </a>
                        [[else:]]
                            [[for row in info:]]
                                <a href="[[=URL('edit_profile')]]">
                                [[if row.photo is None:]]
                                    <img src="[[=URL('static', 'images/defprofilepic.jpg')]]" />
                                [[else:]]
                                    <img src="[[=URL('static', 'photos', row.photo)]]" />
                                [[pass]] 
                                </a>
                                <h1 class="title">[[=name]]</h1>
                                <p>
                                    [[=row.bio]]
                                </p>
                                </br>
                                <a class="button is-primary goldbutton"
                                   href="[[=URL('edit_profile')]]">
                                    <i class="fas fa-user-edit"></i>
                                    &nbsp; Edit Profile
                                </a>
                            [[pass]] 
                        [[pass]]
                    </div>
                    <div @mousedown="clickHandler($event, 'ca', true)">
                        <i class="fas fa-grip-vertical grip-handle"></i>
                    </div>
                </div>
            </div>
            <!-- END thirds row vertical -->
            <!-- thirds row vertical -->
            <div id="cb" style="background:lightblue;"
                 class="my-placeholder-for-dragging-3">
                <div class="my-inner-draggable-3">
                    <div class="my-quarter-box">
                        <table class="table is-fullwidth">
                            <tr>
                                <th style="display: flex; flex-direction: row; justify-content: space-between;">
                                    Recommended
                                    <img class="animated-clapper"
                                         id="clap"
                                         src="[[=URL('static', 'images/clapboard.gif')]]" />
                                </th>
                            </tr>
                            <tr v-for="r in rec_movies">
                                <td>
                                    <a target="_blank" :href='cine_link(r.movie_id)' > {{r.title}} </a>
                                </td>
                                <td>
                                    <!-- Left here for an icon-->
                                </td>
                            </tr>
                        </table>
                        <!--
                        <a @click="reload_rand_recs"
                           class="button is-fullheight is-outlined is-fullwidth">
                            &#128163
                        </a>
                        -->
                    </div>
                    <div @mousedown="clickHandler($event, 'cb', true)">
                        <i class="fas fa-grip-vertical grip-handle"></i>
                    </div>
                </div>
            </div>
            <!-- END thirds row vertical -->
            <!-- thirds row vertical -->
            <div id="cc" style="background:lightgreen;"
                 class="my-placeholder-for-dragging-3">
                <div class="my-inner-draggable-3">
                    <div class="my-quarter-box">
                        <table class="table is-fullwidth">
                            <tr>
                                <th>
                                    Favorite Films&nbsp; &#128155;
                                </th>
                            </tr>
                            <tr v-if="is_no_favs">
                                <td>
                                    <span class="is-italic">No favorites yet.</span>
                                </td>
                            </tr>
                            <tr v-for="f in favorites">
                                <td>
                                    <a target="_blank" :href='cine_link(f.movie_id)'> {{f.title}} </a>
                                </td>
                                <td>
                                    <!-- Left here for an icon-->
                                </td>
                            </tr>
                        </table>
                        <a v-if="is_show_more_favs_opt"
                           @click="show_all_favs"
                           class="button is-fullheight is-outlined is-fullwidth">
                            &#128315
                        </a>
                        <a v-if="is_hide_favs_opt"
                           @click="hide_favs"
                           class="button is-fullheight is-outlined is-fullwidth">
                            &#128314
                        </a>
                        <!--
                        <a v-if="is_show_more_favs_opt" class="button is-fullheight is-outlined is-fullwidth">
                            <i class="far fa-angle-down"></i>
                        </a>
                        -->
                    </div>
                    <div @mousedown="clickHandler($event, 'cc', true)">
                        <i class="fas fa-grip-vertical grip-handle"></i>
                    </div>
                </div>
            </div>
            <!-- END thirds row vertical -->
        </div>
    </div>
    <!-- END Quarter column -->
    <!-- Half column -->
    <div id="ocb" class="half-outer-socket">
        <div class="my-container-2">
            <div @mousedown="clickHandler($event, 'ocb', false)">
                <i class="fas fa-grip-horizontal grip-handle"></i>
            </div>
            <div class="my-half-box has-text-centered ocb-width">
                <a  href="[[=URL('search')]]" class="button is-primary goldbutton">Find Movies</a>
            </div>
            <br>
            <div class="my-half-box ocb-width">
                <div class="box is-shadowless">
                    <p class="level-item
                              has-text-black
                              has-text-weight-bold
                              has-text-centered">
                        Your Reviews
                    </p>
                </div>
                <div v-if="is_no_reviews"
                     class="tile notification has-text-centered">
                    <p class="is-italic has-text-centered">No reviews yet.</p>
                </div>
                <div style="position:relative; top:-35px;"
                     class="tile is-ancestor is-fullwidth"
                     v-for="rw in reviews"> 
                    <div class="tile is-vertical is-parent">
                        <!-- This div contains each review -->
                        <div class="tile is-child notification has-background-white-bis">
                            <div class="">
                                <a class="heading" target="_blank" :href='cine_link(rw.movie_id)'>
                                    {{rw.title}}
                                </a>
                                <div>{{rw.text}}</div>
                                <div @mouseout="stars_out(rw._idx)">
                                    <span v-for="star_idx in [1, 2, 3, 4, 5]"
                                            @click="set_rating(rw._idx, star_idx)"
                                            @mouseover="stars_over(rw._idx, star_idx)">
                                        <a v-if="star_idx <= rw.num_stars_display">&#127916</a>
                                        <a v-if="star_idx > rw.num_stars_display">&#127813</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a v-if="is_show_more_reviews_opt"
                   @click="show_all_reviews"
                   class="button is-fullheight is-outlined is-fullwidth">
                    &#128315
                </a>
                <a v-if="is_hide_reviews_opt"
                   @click="hide_reviews"
                   class="button is-fullheight is-outlined is-fullwidth">
                    &#128314
                </a>
            </div>
        </div>
    </div>
    <!-- END Half column -->
    <!-- Quarter column -->
    <div id="occ"
         class="outer-placeholder-for-dragging-4">
        <div class="my-outer-draggable-4">
            <div @mousedown="clickHandler($event, 'occ', false)">
                <i class="fas fa-grip-horizontal grip-handle"></i>
            </div>
            <!-- thirds row vertical -->
            <div id="cd" style="background: lightgreen"
                 class="my-placeholder-for-dragging-3">
                <div class="my-inner-draggable-3">
                    <div class="my-quarter-box">
                        <table class="table is-fullwidth">
                            <tr>
                                <th>
                                    People with Similar Taste &nbsp; &#127909;
                                </th>
                            </tr>
                            <tr v-if="is_no_rec_people">
                                <td>
                                    <span class="is-italic"> No matching people </span>
                                </td>
                            </tr>
                            <tr v-for="rp in rec_people">
                                <td>
                                    {{rp.name}}
                                </td>
                                <td>
                                    <span class="has-text-link is-pulled-right" v-if="rp.status==1" @click="add_friend(rp.id)" style="cursor:pointer">
                                        <i class="fas fa-user-plus"></i>
                                    </span>

                                    <span class="has-text-link is-pulled-right" v-if="rp.status==2">
                                        Waiting...
                                    </span>

                                    <button class="button is-link is-pulled-right" v-if="rp.status==3" @click="accept_friend(rp.id)">
                                        Accept
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <a v-if="is_show_more_rec_people_opt"
                           @click="show_all_rec_people"
                           class="button is-fullheight is-outlined is-fullwidth">
                            &#128315
                        </a>
                        <a v-if="is_hide_rec_people_opt"
                           @click="hide_rec_people"
                           class="button is-fullheight is-outlined is-fullwidth">
                            &#128314
                        </a>
                    </div>
                    <div @mousedown="clickHandler($event, 'cd', true)">
                        <i class="fas fa-grip-vertical grip-handle"></i>
                    </div>
                </div>
            </div>
            <!-- END thirds row vertical -->
            <!-- thirds row vertical -->
            <div id="ce" style="background:lightgreen;"
                 class="my-placeholder-for-dragging-3">
                <div class="my-inner-draggable-3">
                    <div class="my-quarter-box">
                        <table class="table is-fullwidth">
                            <tr>
                                <th>
                                    Movie Pals &nbsp; &#127871;

                                </th>
                            </tr>
                            <tr v-for="fr in friends">
                                <td>
                                    {{ fr.name }}
                                </td>
                                <td></td>
                                <!--
                                <td>

                                    <span class="has-text-link is-pulled-right" @click="showModal=true;showModalFor=fr.id" style="cursor:pointer">
                                        <i class="fa fa-envelope-open is-pulled-right" aria-hidden="true"></i>
                                    </span>
                                </td>
                                -->
                            </tr>
                        </table>
                        <a v-if="is_show_more_friends_opt"
                           @click="show_all_friends"
                           class="button is-fullheight is-outlined is-fullwidth">
                            &#128315
                        </a>
                        <a v-if="is_hide_friends_opt"
                           @click="hide_friends"
                           class="button is-fullheight is-outlined is-fullwidth">
                            &#128314
                        </a>
                    </div>
                    <div @mousedown="clickHandler($event, 'ce', true)">
                        <i class="fas fa-grip-vertical grip-handle"></i>
                    </div>
                </div>
            </div>
            <!-- END thirds row vertical -->
            <!-- thirds row vertical -->
            <div id="cf" style="background:lightblue;"
                 class="my-placeholder-for-dragging-3">
                <div class="my-inner-draggable-3">
                    <div class="my-quarter-box">
                        <p class="has-text-black
                            has-text-weight-bold
                            has-text-centered">
                            Watch a Trailer
                        </p>
                        <iframe style="position:relative; top:12px;"
                                :src='trailer_link'></iframe>
                    </div>
                    <div @mousedown="clickHandler($event, 'cf', true)">
                        <i class="fas fa-grip-vertical grip-handle"></i>
                    </div>
                </div>
            </div>
            <!-- END thirds row vertical -->
        </div>
    </div>
    <!-- END Quarter column -->

    <chat ticket_url="[[=XML(generate_ticket_url)]]"
          chatsocket_url="[[=chatsocket_url]]"
          messages_url="[[=XML(load_messages_url)]]"
          contacts_url="[[=XML(load_contacts_url)]]">
    </chat>
</section>

[[block page_scripts]]
<script>
    let load_rec_url = "[[=XML(load_rec_url)]]";
    let load_rand_rec_url = "[[=XML(load_rand_rec_url)]]";
    let load_fav_url = "[[=XML(load_fav_url)]]";
    let load_friends_url = "[[=XML(load_friends_url)]]";
    let load_rec_people_url = "[[=XML(load_rec_people_url)]]";
    let load_reviews_url = "[[=XML(load_reviews_url)]]";
    let set_rating_url= "[[=XML(set_rating_url)]]";
    let add_friend_url= "[[=XML(add_friend_url)]]";
    let accept_friend_url= "[[=XML(accept_friend_url)]]";
    let save_msg_url= "[[=XML(save_msg_url)]]";
    let fetch_msg_url= "[[=XML(fetch_msg_url)]]";
    let getOrderURL = "[[=XML(get_order_url)]]";
    let saveOrderURL = "[[=XML(save_order_url)]]";
</script>
<script src="js/components/vue-chat.js"></script>
<script src="js/index.js"></script>
[[end]]
